
:root {
  --step--2: clamp(0.5628rem, 0.6232rem + -0.078vw, 0.6076rem);
  --step--1: clamp(0.7292rem, 0.7219rem + 0.0366vw, 0.7502rem);
  --step-0: clamp(0.875rem, 0.8315rem + 0.2174vw, 1rem);
  --step-1: clamp(1.05rem, 0.9516rem + 0.4922vw, 1.333rem);
  --step-2: clamp(1.26rem, 1.0802rem + 0.8989vw, 1.7769rem);
  --step-3: clamp(1.512rem, 1.2141rem + 1.4897vw, 2.3686rem);
  --step-4: clamp(1.8144rem, 1.3473rem + 2.3355vw, 3.1573rem);
  --step-5: clamp(2.1773rem, 1.4707rem + 3.533vw, 4.2087rem);

  --space-xl-2xl: clamp(3.375rem, 2.8098rem + 2.8261vw, 5rem);

  --bg-color: #0C0C0C;
  --text-color: #fff;
  --secondary-color: #1C1C1C;
  --renderer-color-1: #2b2b2b;
  --renderer-color-2: #1c1c1c;
}

#root{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

*{
  box-sizing: border-box;
}

body {
  font-family: 'Poppins';
  font-weight: 400;
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
}

h1, h2, h3, h4, h5 {
  font-weight: 600;
  margin: 0;
  color: var(--text-color);
}

html {font-size: 100%;} /* 16px */

h1 {font-size: var(--step-5); /* 67.36px */}

h2 {font-size: var(--step-4); /* 50.56px */}

h3 {font-size: var(--step-3); /* 37.92px */}

h4 {font-size: var(--step-2); /* 28.48px */}

h5 {font-size: var(--step-1); /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}

p{
  font-size: var(--step-0);
  color: var(--text-color);
  margin: 0;
}
a{
  color: var(--text-color);
}

.bold{
  font-weight: 600;
}

small{
  line-height: 1;
  margin: 0;
}

.flex{
  display: flex;
}

.hero{
  height: 100svh;
  width: 100%;
  padding: 20px;
  gap: 20px;
  flex-direction: row;
}

.clip-left{
  clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%);
}
.clip-right{
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
}

.canvas-container {
  position: absolute;
}

.viewport{
  width: 100%;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  flex-wrap: wrap;
}
.viewport:hover{
  cursor: grab;
}
.viewport:active{
  cursor: grabbing;
}

.viewportContent{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  pointer-events: none;
  justify-content: space-between;
  flex-direction: column;
}
.viewportBtn{
  pointer-events: all;
  display: block;
  margin: 0;
  padding: 5px;
}
.viewportBtn:hover{
  cursor: pointer;
}

.mode-icon{
  height: 14px;
  display: block;
}

.mode-selector{
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--text-color);
  border-radius: 30px;
  color: var(--text-color);
}

.mode-button{
  background: none;
  padding: 10px 14px;
  border-radius: 30px;
  pointer-events: all;
  display: block;
  font-size: var(--step--1);
}

.mode-selector .selected{
  color: var(--bg-color);
  background-color: var(--text-color);
  
}

.viewportTop{
  justify-content: space-between;
  gap: 10px;
  align-content: center;
}

.viewportInteraction{
  gap: 10px;
  align-content: center;
  align-items: flex-start;
}
.viewportBottom div{
  width: 80%;
}
.viewportBottom img{
  width: calc(var(--space-xl-2xl) + 20px);
}
.viewportBottom{
  align-items: end;
  justify-content: space-between;
}
#viewer{
  width: 100%;
  height: 100%;
}

.overlay{
  pointer-events: all;
  cursor: default;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur(10px);
  gap: var(--space-xl-2xl);
  animation: fadeIn 0.3s ease-in-out;
}

.helpMode i{
  color: var(--text-color);
  font-size: var(--step-3);
}

.navHelpItem{
  width: 18%;
  min-width: 120px;
  text-align: center;

}

.navHelpItems{
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.navHelpItems span{
  font-weight: 600;
  font-size: larger;
}

.inverted{
  color: var(--bg-color);
  background-color: var(--text-color);
}

/* img{
  position: absolute;
  right: 23%;
  bottom: 4%;
  width: 80px;
  z-index: 10;
} */

@keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
@keyframes fadeBounce {
      0% {
        opacity: 0;
        transform: scale(0.5);
      }
      50% {
        opacity: 1;
        transform: scale(1.1);
      }
      100% {
        transform: scale(1);
      }
    }

button{
  padding: 10px 20px;
  font-family: 'poppins';
  font-weight: 600;
  border-radius: 10px;
  background-color: #141414;
  font-size: var(--step-0);
  border: 1px solid transparent;
  color: var(--text-color);
}

button:hover{
  cursor: pointer;
  border: 1px solid white;
}

.sidebar-header{
  gap: 10px;
  justify-content: stretch;
}
.sidebar-header button{
  background-color: var(--bg-color);
  animation: fadeBounce 0.4s ease-in;
}

.searchBar{
  gap: 10px;
  padding: 15px;
  justify-content: space-between;
  border-radius: 10px;
  background-color: var(--bg-color);
  border: solid 1px transparent;
  width: 100%;
  transition: width 1s ease-in;
  animation-name: fadeIn;
  animation-duration: 1s;
}
.searchBar input{
  background-color: transparent;
  border: none;
  font-family: inherit;
  color: var(--text-color);
  width: 100%;
}

.searchBar:hover{
  border: 1px var(--text-color) solid;
}

.searchBar input:focus{
  outline: none;
}
.searchBar > #searchBTN:hover{
  cursor: pointer;
}


.lista{
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}
ul{
  list-style: none;
  padding-inline-start: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 10px;
  width: 100%;
  height: 100%;
  flex: 1;
  overflow-y: auto;
  padding-bottom: 50px;
}
ul {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.lista .gradient{
  position: absolute;
  bottom: 0;
  right: 0;
  content:"";
  width: 100%;
  height: 20%;
  background-size: 100%;
  background: linear-gradient(0deg, var(--secondary-color) 0%, rgba(0,0,0,0) 100%);
  z-index: 10;
  pointer-events: none;
} 

ul::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}



.hidden{
  display: none;
}

.selectable-item{
  border: solid 1px transparent;
  position: relative;
  min-width: 45%;
  padding: 10px 10px;
  text-decoration: none;
  list-style: none;
  background-color: var(--renderer-color-1);
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  /* height: 14vh; */
  aspect-ratio: 1/1;
  /* display: flex;
  flex-direction: column;
  justify-content: flex-end; */
  flex: 1 0 auto;
  cursor: pointer;
}

.selectable-item:hover{
  border: 1px var(--text-color) solid;
}



.tooltip {
  position: fixed; 
  padding: 10px;
  background-color: var(--renderer-color-2);
  border: 1px solid var(--renderer-color-1);
  border-radius: 10px;
  z-index: 1000;
  max-width: 300px;
  animation-name: fadeIn;
  animation-duration: 0.2s;
  pointer-events: none; 
}

.tooltip.visible {
  visibility: visible;
  opacity: 1;
}

.tooltip img{
  width: 100%;
  max-width: 200px;
  border-radius: 10px;
  margin-top: 5px;
}

.objetos .selected{
  border: 1px green solid;
  color: var(--text-color);
}



.side-menu{
  width: 20%;
  background-color: var(--secondary-color);
  border-radius: 20px;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}
.menu-icon{
  display: none;
  font-size: 16px;
  color: var(--text-color);
  margin: 0;
}

.metadata-div{
  text-align: left;
}

.metadata-item{
  padding-top: 5px;
  width: 100%;
}
.metadata-item:not(:last-child){
  border-bottom: 1px solid var(--text-color);
  padding-bottom: 5px;
}

@media only screen and (max-width: 750px) {
  .viewport{
    height: 75svh;
  }
  .hero{
    padding: 0;
    flex-direction: column-reverse;
  }
  .side-menu{
    width: 100%;
    height: 25svh;
    z-index: 10;
    padding: 10px;
    gap: 10px;
    left: 0;
    bottom: 0;
  }
  .objetos{
    flex-direction: row;
    margin: 5px 0;
  }
  
  .selectable-item{
    min-width: 20vw;
    max-width: 100%;
    height: 100%;
    max-height: 15vh;
  }
  ul{
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 0;
  }
  .metadata-div > ul{
    flex-direction: column;
    align-items: flex-start;
  }
  .lista{
    overflow-x: clip;
  }
  .menu-icon{
    display: block;
  }
  .lista .gradient{
    width: 15%;
    height: 100%;
    background: linear-gradient(-90deg, var(--secondary-color) 0%, rgba(0,0,0,0) 100%);
  }
}